{% extends "base.html" %}

{% block title %}Results{% endblock %}

{% block content %}
<div class="container">
  <h1>About the Author</h1>
  <hr/>

   <img src="static/img/Me.jpg" width="130"> 

  <p>
    My name is Amanda McCleary and I currently reside in Nashville, Tennessee with my husband, our daughter, and dog.  For the last 13 years I worked for the Department of Defense in various capacities and locations, which is where I draw the majority of my experience.  In early June 2015 I moved to Nashville from Tampa, FL where I am now working in the Law Enforcement field.  It has been quite the transition to say the least.  In my spare time I enjoy eating at new restraunts, traveling the world, spending time outdoors with my family, and CrossFit.
  </p>
</div>
{% endblock %}