{% extends "base.html" %}

{% block title %}Description{% endblock %}

{% block content %}
<div class="container">
	<h1>Project Description</h1>
	<hr/>
	<p>
		The general topic of my research is international terrorism, focusing on the Middle East and North Africa (MENA).  Currently media has been reporting trends in increasing global terrorism.  Terrorism will continue to plague our world and remain at the forefront of society given the popularization and prolific spread of terror and extremism in the Middle East; primarly in Syria, Iraq, Yemen, Afghanistan, and north and east Africa.
	</p>
</div>
{% endblock %}