{% extends "base.html" %}

{% block title %}Home{% endblock %}

{%  block content %}
  	<div class="container">
    	<h1><b><u>Terrorrism and Contributing Factors in the Middle East and North Africa</u></b></h1>
    	<hr/>

    	<p>
    		This project aims to convey basic information about specific and broad locations in the Middle East and North Africa where terrorism and violent acts occur on almost a daily basis.  
    	</p>

    	<hr/>

    	<p>Visit the <a href="/about">about page</a> to learn more</p>
  	</div>
{% endblock %}